@charset "UTF-8";

body{
    background: rgb(93, 93, 231);
    font: normal 15pt arial;
    text-align: center;
}

header{

}

section{
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.45);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}